p{
	color:white;
	background-color: #D5BD4F;
	font-family: monospace;
}

h1{
	font family: sans-serif;
}

h2{
	font family: sans-serif;
}
header{
	position: relative;
}
.painel li{
	display: inline-block;
	vertical-align: top;
	width: 140px;

	margin: 2px;
	padding-bottom: 10px;
}
.painel li:hover{
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 5px #333;
	transition: 0.7;
	transform: scale(1.2) rotate(-5deg);
}
.busca,
.menu-departamentos{
	transform: rotate(-10deg);
	background-color: #DCDCDC;
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 10px;
	width: 230px;

	float: left;
}
.painel h2:before{
	content: '\2756';
	padding-right: 5px;
	opacity: 0.4;
}
.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}
footer{
	transform: skew(-10deg);
	background-color: white;
	background: linear-gradient(#D5BD4F,#ECD46D);
	clear: both;
	padding: 20px 0;
}
